@model RaWMVC.ViewModels.StoryViewModel

<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">
        Story Deails
    </h1>
    <button type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
</div>
<form asp-action="Edit" id="editStoryForm" enctype="multipart/form-data">
    <div class="modal-body">
        <div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StoryId" class="form-control" />
            <input type="hidden" asp-for="PublishDate" name="name" value="" />
            <div class="text-success text-uppercase fs-3">@TempData["MessageFail"] </div>
            <div id="errorMessage" class="text-danger"></div>
            <label for="file" class="custum-file-upload mb-4">
                <div class="icon">
                    <div id="imagePreviewContainer" style="display: inline-block; vertical-align: middle;">
                        <img id="imageEditPreview" src="@ViewBag.CoverImage" alt="Cover Image" style="max-width: 100px; max-height: 100px;" />
                    </div>
                </div>
                <div class="text">
                    <span>Click to upload image</span>
                </div>
                <input id="file" asp-for="CoverImage" type="file" onchange="previewImageEdit(event)" />
                <span>File</span>
            </label>
            <div class="input_details">
                <label class="input__label">Title of Story</label>
                <input id="titleStory" asp-for="StoryTitle" class="input__field" type="text" />
            </div>
            <div class="input_details">
                <label class="input__label">Description</label>
                <textarea id="descriptionStory" asp-for="StoryDescription" class="input__field input__field--textarea"></textarea>
            </div>
            <div class="input_details">
                <label class="input__label">Category:</label>
                <select class="form-select"
                        id="categorySelect"
                        asp-for="GenreId"
                        asp-items="ViewBag.Genres"
                        aria-label="Floating label select example">
                </select>
            </div>
            <div class="input_details">
                <label class="input__label">Tag:</label>
                <select class="form-select"
                        id="tagSelect"
                        asp-for="TagId"
                        asp-items="ViewBag.Tags"
                        aria-label="Floating label select example">
                </select>
            </div>
            <div class="input_details">
                <label class="input__label">Status:</label>
                <select class="form-select"
                        id="statusSelect"
                        asp-for="StatusId"
                        asp-items="ViewBag.Status"
                        aria-label="Floating label select example">
                </select>
            </div>
        </div>
    </div>

</form>
<div class="modal-footer">
    <button type="button"
            class="btn_cancel"
            data-bs-dismiss="modal">
        Close
    </button>
    <button type="button" onclick="editStory('@Model.StoryId');" class="btn_save_storyD">
        Save changes
    </button>
</div>