@model RaWMVC.ViewModels.ChapterViewModel

<main class="main_content">
    <div class="subnavigate d-flex rounded w-100" style="height: 60px">
        <div class="chapter_number d-flex justify-content-between w-100">
            <div class="btn-group">
                <a class="btn_chapter ms-3 mt-3 text-dark text-decoration-none"
                   href="~/Story/ListChapter?idStory=@Model.StoryId">
                    <i class="fa-solid fa-chevron-left"></i>
                    @* <span class="fw-bold fs-4">@Model.chapterTitle</span> *@
                </a>
            </div>
            <div class="save_cancel mt-2 me-3">
                <a href="~/Story/ListChapter?idStory=@Model.StoryId" type="button" class="btn_cancel text-decoration-none">Cancel</a>
                <button type="button" class="btn_save_storyD" onclick="createChapter('@Model.StoryId', false);">Save</button>
                <button type="button" class="btn_save_storyD" onclick="createChapter('@Model.StoryId', true);">Publish</button>
                <button type="button" class="btn_save_storyD" onclick="createChapter('@Model.StoryId', true);">Preview</button>
            </div>
        </div>
    </div>
    <div class="main_content_dashboard mt-3 p-2">
        <form asp-action="Create" enctype="multipart/form-data">
            <input type="hidden" asp-for="ChapterId" class="form-control" />
            <input type="hidden" asp-for="StoryId" class="form-control" />
            <input type="hidden" asp-for="PublishDate" name="name" value="" />

            <section class="content_editor_container">
                <div class="content-wrapper mt-4">
                    <div class="d-flex text-center w-100 fs-3 justify-content-center align-self-center">
                        <input class="border border-0 w-50 ms-2 text-center"
                               id="chapterTitle"
                               asp-for="ChapterTitle"
                               placeholder="Untitled Part" required />
                    </div>
                    <textarea id="chapterContent"
                              class="mt-4 border border-0 w-100 h-100"
                              placeholder="Click here to start writing..........."
                              required>
                    </textarea>
                </div>
            </section>
        </form>
    </div>
</main>
@section Scripts {
    <script>
        // Initialize TinyMCE editor for chapterContent
        tinymce.init({
            selector: '#chapterContent',
            height: 500,
            menubar: false,
            plugins: 'lists link image media',
            toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright | bullist numlist | link image media',
            setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            }
        });

        function createChapter(storyId, isPublish) {
            const chapterTitle = document.getElementById("chapterTitle").value; // Get chapter title
            const chapterContent = tinymce.get("chapterContent").getContent(); // Get content from TinyMCE editor

            const data = {
                ChapterTitle: chapterTitle,
                ChapterContent: chapterContent,
                StoryId: storyId,
                IsPublished: isPublish
            };

            $.ajax({
                type: "POST",
                url: "/Chapter/Create",
                data: data,
                success: function (response) {
                    toastr.success(response.message);
                },
                error: function () {
                    alert("An error occurred while creating the chapter.");
                }
            });
        }
    </script>
}